<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
</head>
<body>
<header th:fragment="header" class="navbar bg-dark text-light d-flex justify-content-between">
    <!--/*@thymesVar id="user" type="ru.kata.spring.boot_security.demo.model.User"*/-->
    <div>
    <span class="font-weight-bold" th:text="${user.getFirstName()}">
        Email пользователя
    </span>
        with roles:
        <span th:text="${user.getRoles()}">РОЛИ</span>
    </div>
    <a class="float-right text-muted" href="/logout">Выйти</a>
</header>
</body>
</html>
